@import "../mixins";
@import "../variables";

.button-close {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 4px;
}

.item-card {
    height: 352px;
    width: 480px;
    padding: 8px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 1px 100vh rgba(0, 0, 0, 0.8);
    &__img {
        width: 154px;
        height: 154px;
        object-fit: cover;
    }
    &__title {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
    }
}
