@import "../variables.scss";

.author-info {
    font-weight: 600;
}

.download {
    display: flex;
    flex-direction: column;
    &__img {
        width: 9rem;
        margin: 2px 0 2px;
    }
}

.info {
    background-color: $light-grey;
    border: solid $light-grey;
    padding: 1rem 3rem 1rem 3rem;

    &__title {
        font-family: "Gochi Hand", cursive;
        font-weight: 400;
        font-size: 4rem;
        color: $lime;
        margin: 0;
        padding: 1rem 0 1.5rem;
    }
}

.info-bottom {
    border-top: solid 1px $grey;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.info-row {
    display: flex;
    justify-content: space-between;
}

.join {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0 2rem 3rem;
    &__item {
        font-weight: 600;
        font-size: 0.75rem;
        margin: 2px 0 0;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
    }
    &__title {
        margin: 0;
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 1.75rem;
    &__item {
        margin-left: 1rem;
        &__link {
            text-decoration: none;
        }
    }
}
