@import "../_variables.scss";
@import "../mixins.scss";

.box-to-log-and-register {
    @include navbar-box;
    min-width: 5rem;
    margin: 3rem 0.25rem 1rem 1rem;
    &:hover {
        display: block;
    }
}

.cart-box {
    @include navbar-box;
    max-width: 200px;
    margin: 3.2rem 2rem 1rem 1rem;
    font-size: 12px;
    line-height: 1.5;
    &:hover {
        display: block;
    }
    &__button {
        background: black;
        color: white;
        font-size: 16px;
        margin: 4px 16px;
        padding: 6px;
        outline: none;
        border: none;
        border-radius: 2px;
        &:active {
            color: $lime;
        }
    }
    &__item {
        //border-bottom: solid 1px $grey;
        margin: 8px;
    }
    &__name {
        display: block;
    }
    &__price {
        display: block;
    }
}

.icon-cart {
    height: 2.25rem;
    cursor: pointer;
    margin: 1rem;
    &:hover + .cart-box {
        display: inline-block;
    }
}

.icon-log {
    height: 2.25rem;
    margin: 1rem 2rem 1rem 1rem;
    cursor: pointer;
    &:hover + .box-to-log-and-register {
        display: inline-block;
    }
}

.link-box-login {
    @include link-box;
    margin: 0 4px 8px 4px;
}

.link-box-register {
    @include link-box;
    border-top: solid 1px $grey;
    padding-top: 4px;
    margin: 4px;
}

.link {
    font-weight: 600;
    text-decoration-line: none;
    outline: none;
    color: black;
    &:active {
        color: $lime;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
}
